@model ProjectViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product group">
    <h1>@Model.Name</h1>
    <p>@Model.ShortDescription</p>
    <div class="product-details">

        <img src="~/images/Amesa Spentas/T-Shirts.jpg" />
        <p>@Model.LongDescription</p>
        <img src="~/images/img-1.jpg" />
        <img src="~/images/img-1.jpg" />
    </div>
    <div class="product-back">
        <div class="product-back-p">
            <p class="product-back-amount product-back-p-1 "><i class="fas fa-dollar-sign"></i> @Model.Funded</p>
            <p class="product-back-p-2">Pledged of taka @Model.PledgedAmount goal</p>
        </div>
        <div class="product-back-p">
            <p class="product-back-p-1">@Model.TotalBacker</p>
            <p class="product-back-p-2">backers</p>
        </div>   
        <div class="product-back-p">
            <p class="product-back-p-1">@Model.DaysLeft</p>
            <p class="product-back-p-2">days to go</p>
        </div>
        
        <a href="/Investments/Create/@Model.Id" class="product-back-button">Back this project</a>
    </div>
</div>