@model ProjectViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product group">
    <div class="product-details">
        <h1>@Model.Name</h1>
        <p>@Model.ShortDescription</p>
        <img src="~/images/img-1.jpg" />
        <p>@Model.LongDescription</p>
        <img src="~/images/img-1.jpg" />
        <img src="~/images/img-1.jpg" />
    </div>
    <div class="product-back">
        <p>Pledged of @Model.PledgedAmount goal</p>
        <p>1003 backers</p>
        <p>@Model.DaysLeft days to go</p>
    </div>
</div>