@model ProjectViewModel

@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = Model.ProjectTitle.Replace(" ", string.Empty);
}

<div class="product group">
    <h1>@Model.Name</h1>
    <p>@Model.ShortDescription</p>
    <div class="product-details">
        <img src="~/images/@title/@Model.Image" />
        <p>@Model.LongDescription</p>

        @if (!string.IsNullOrEmpty(Model.Image2))
        {
            <img src="~/images/@title/@Model.Image2" />
        }

        @if (!string.IsNullOrEmpty(Model.Image2))
        {
            <img src="~/images/@title/@Model.Image3" />
        }
        
            <div class="product-details-video">
                <iframe width="560" height="315" src="@Model.VideoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="product-details-viewed">
                <h4>Project viewed - @Model.Viewed times</h4>
            </div>
    </div>
    <div class="product-back">
        <div class="product-back-p">
            <p class="product-back-amount product-back-p-1 "><i class="fas fa-dollar-sign"></i> @Model.Funded</p>
            <p class="product-back-p-2">Pledged of taka @Model.PledgedAmount goal</p>
        </div>
        <div class="product-back-p">
            <p class="product-back-p-1">@Model.TotalBacker</p>
            <p class="product-back-p-2">backers</p>
        </div>
        <div class="product-back-p">
            <p class="product-back-p-1">@Model.DaysLeft</p>
            <p class="product-back-p-2">days to go</p>
        </div>
        @if ((await AuthorizationService.AuthorizeAsync(User, "Investor")).Succeeded)
        {
            <a href="/Investments/Create/@Model.Id" class="product-back-button">Back this project</a>
        }

    </div>
</div>


@section Scripts{
    <script>
        var projectBackOffsetTop = $('.product-back').offset().top;
        
        var projectBackOffsetLeft = $('.product-back').offset().left;
        $(window).scroll(function () {
            var scrollPos = window.pageYOffset;

            if (scrollPos >= (projectBackOffsetTop)) {
                $('.product-back').addClass('fixed');
                $('.fixed').css("left", projectBackOffsetLeft);
            } else {
                $('.product-back').removeClass('fixed');
            }
        });



    </script>
}