@model IEnumerable<ProjectViewModel>
@{
    ViewData["Title"] = "ShowProjectByCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="project-list group">
    @foreach (var item in Model)
    {
        var widthOfBar = (item.Funded * 100) / item.PledgedAmount;
        string title = item.ProjectTitle.Replace(" ", string.Empty);

        <div class="project-list-item">
            <div class="project-list-item-img">
                <img src="~/images/@title/@item.Image" />
                <button id="favourite" class="project-list-item-img-favourite" value="@item.Id">
                    <i class="far fa-heart"></i>
                </button>
            </div>
            <div class="project-list-item-info">
                <div class="project-list-item-info-1">
                    <a href="/Projects/Details/@item.Id"><h4>@item.Name</h4></a>
                    <p>@item.ShortDescription</p>
                    <p>by @item.EntreprenuerName</p>
                </div>
                <div class="project-list-item-info-2">
                    <div class="w3-border">
                        <div class="w3-grey" style="height:5px;width:@widthOfBar%"></div>
                    </div>
                    <p class="project-list-item-info-pledged">Pledged of taka @item.PledgedAmount goal.</p>
                    <p>@item.Funded funded.</p>
                    <p>@item.DaysLeft days to go.</p>
                    <p>
                        <span>@item.CompanyName  </span> <span> || </span> <span><i class="fas fa-map-marker-alt"></i>  @item.CountryName</span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
