@model InvestmentViewModel
@{
    ViewData["Title"] = "Create";

}

<div class="investment">
    <div class="investment-header"><h1>@Model.Project.Name</h1></div>
    <div class="investment-body">
        <h3>Support this project</h3>
        @foreach (var item in Model.InvestmentTypes)
        {
            <div class="investment-body-item">
                <div class="investment-body-item-p">@item.Type</div>
                <form action="Investments/Create/" method="post">
                    <input asp-for="@Model.Investment.InvestmentTypeId" type="number" value="@item.Id" hidden />
                    <input asp-for="@Model.Investment.ProjectId" type="number" value="@Model.Project.Id" hidden />
                    <div class="investment-body-item-div">
                        <input asp-for="@Model.Investment.Amount" type="number" class="investment-body-item-amount" /> <input class="investment-body-item-continue" type="submit" value="Continue" />
                    </div>

                </form>

            </div>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}