@model HomeIndexVIewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="ownCarousel">
        <div class="mySlides" id="mySlides-1">
            <div class="centered">
                <h1>Asking the crowd for money in return for products, experiences, promotional items or some other form of perks.</h1>
                <partial name="_StartProjectPartial" />
            </div>
        </div>
        <div class="mySlides" id="mySlides-2">
            <div class="centered">
                <h1>Small opportunities are often the beginning of great enterprise.</h1>
                <partial name="_StartProjectPartial" />
            </div>
        </div>
        <div class="mySlides" id="mySlides-3">
            <div class="centered">
                <h1>Scale your business to new heights with help of crowdfunding.</h1>
                <partial name="_StartProjectPartial" />
            </div>
        </div>
    </div>
</div>


<div class="second-part">
    <div class="projectCategory group">
        <ul class="projectCategory-ul">
            @foreach (var item in Model.ProjectCategories)
            {
                <li class="projectCategory-li">
                    <button value="@item.Id" class="projectCategory-li-a ">@item.Type</button>
                </li>
            }
        </ul>
    </div>
    <div class="category-projects group">
        <div class="category-projects-big">
            <img src="~/images/@Model.LastProject.ProjectTitle.Replace(" ",string.Empty)/@Model.LastProject.Image1" alt="project image" />
            @if (SignInManager.IsSignedIn(User))
            {
                <button class="category-projects-big-favourite favourite" value="@Model.LastProject.Id">
                    <i class="far fa-heart"></i>
                </button>
            }
            <div class="category-projects-big-info">
                <a href="/Projects/Details/@Model.LastProject.Id"><h2>@Model.LastProject.Name</h2></a>
                <p>@Model.LastProject.ProjectShortDescription</p>
            </div>
        </div>

        <div class="category-projects-box">
            <div class="category-projects-box-list">
                @foreach (var item in Model.FileProjects)
                {

                    <ul>
                        <li class="group">
                            <div class="category-projects-box-list-image">
                                <img src="~/images/@item.ProjectTitle.Replace(" ", string.Empty)/@item.Image1.Replace(" ", string.Empty)" alt="project image" />
                            </div>
                            <div class="category-projects-box-list-info">
                                <a href="/Projects/Details/@item.Id"><h4>@item.Name</h4></a>
                                <p>@item.ProjectShortDescription</p>
                                <p class="fund">Pledged of taka @item.NeededFund goal</p>

                                <button class="category-projects-box-list-info-favourite favourite" value="@item.Id">
                                    <i class="far fa-heart"></i>
                                </button>

                            </div>
                        </li>
                    </ul>
                }
            </div>
            <div class="category-projects-box-all">
                <a class="category-projects-box-all-a" href="/Projects/ShowProjectByCategory/1">View all</a>
            </div>
        </div>
    </div>
</div>

<div class="how">
    <div class="how-works">
        <h1>HOW IT <span style="color:#42ccae">WORKS</span></h1>
        <p>Every project creator sets their project's funding goal and deadline. If people like the project, they can pledge money to make it happen. If the project succeeds in reaching its funding goal, all backers' credit cards are charged when time expires. Funding on Kickstarter is all-or-nothing. If the project falls short of its funding goal, no one is charged. If a project is successfully funded, Kickstarter applies a 5% fee to the funds collected.</p>
        <p>How way you can get Funding to this Website?</p>
        <div class="how-works-list">
            <div class="how-works-list-item">
                <i class="far fa-edit"></i>
                <h2>Create</h2>
                <p>Create a company to raise funds for your cause.</p>
            </div>
            <div class="how-works-list-item">
                <i class="fas fa-share"></i>
                <h2>Share</h2>
                <p>Share it on all social media platforms, we mean, ALL!</p>
            </div>
            <div class="how-works-list-item">
                <i class="fas fa-dollar-sign"></i>
                <h2>Fund</h2>
                <p>Receive donations to your cause direct to your account.</p>
            </div>
        </div>
    </div>
</div>

<div class="latest">
    <div class="latest-header"><h2>Latest now . . .</h2></div>
    <div class="latest-body ">
        <div class="latest-body-row group">
            @foreach (var item in Model.LatestProject)
            {
                <div class="latest-body-row-item">
                    <img src="~/images/@item.ProjectTitle.Replace(" ",string.Empty)/@item.Image1" alt="Project image" />
                    <div class="latest-body-row-item-content">
                        <a href="/Projects/Details/@item.Id"><h4>@item.Name</h4></a>
                        <p>@item.ProjectShortDescription</p>
                        <p>by <a href="">@item.Company.Entrepreneur.FName @item.Company.Entrepreneur.LName</a> </p>
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <button class="latest-body-row-item-favourite favourite" value="@item.Id">
                            <i class="far fa-heart"></i>
                        </button>
                    }
                </div>
            }
        </div>
        <a class="latest-body-a" href="Projects">View all . . .</a>
    </div>
</div>












@section Scripts{
    <script>
        $(document).ready(function () {
            var myIndex = 0;
            carousel();
            function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) { myIndex = 1 }
                x[myIndex - 1].style.display = "block";
                setTimeout(carousel, 4000); // Change image every 4 seconds
            }

            $(".projectCategory-li-a").on('click', function () {
                var categoryId = $(this).val();
                var url = "/Projects/ShowByCategory/" + categoryId;
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                        var dvItems = $(".category-projects-box-list");
                        dvItems.html(" ");
                        var categoryId = 0;
                        var str;

                        $.each(response, function (i, item) {
                            var url = "/images/" + item.projectTitle.replace(/\s/g, '') + "/" + item.image1.replace(/\s/g, '');
                            str += '<ul> <li class="group"> ';
                            str += '<div class="category-projects-box-list-image"> <img src=' + url + ' /> </div>';
                            str += '<div class="category-projects-box-list-info">';
                            str += '<h4><a href="/Projects/Details/' + item.id + '">' + item.name + '</a></h4>';
                            str += '<p>' + item.projectShortDescription + '</p>';
                            str += '<p class="fund">Pledged of taka ' + item.neededFund + ' goal</p>';
                            str += '<button class="category-projects-box-list-info-favourite favourite" value="' + item.id + '"><i class="far fa-heart"></i></button>';
                            str += '</div> </li> </ul>';

                            categoryId = item.projectCategoryId;
                        });

                        dvItems.append(str);
                        var url = '/Projects/ShowProjectByCategory/' + categoryId;
                        $('.category-projects-box-all-a').attr('href', url);


                        $('.favourite').click(function () {
                            var projectId = $(this).val();
                            console.log(projectId);
                            var url = '/Home/RemindProject/' + projectId;
                            $.ajax({
                                url: url,
                                cache: false,
                                dataType: "JSON",
                                contentType: "application/x-www-form-urlencoded",
                                type: 'GET'
                            });
                        });
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });

            });


            function shortString(text) {
                
            }

        });
    </script>
}
